<div id="main" class="container">
  <div class="container">
    <h1>Welcome, <span class="gradient-text">{{name}}</span> !</h1>
    <section>
      <h2>Videoclips</h2>
      <ul class="list">
        {{#each items}}
          <div class="accordion">
            <input
              type="checkbox"
              id="accordion-{{vid}}"
              name="accordion-checkbox"
              hidden
            />
            <label class="accordion-header" for="accordion-{{vid}}">
              <i class="icon icon-arrow-right mr-1"></i>
              {{vtitle}}
              -
              {{anames}}

              <div class="float-right">
                <a href="/edit/{{id}}">Edit</a>
                |
                <a href="/dashboard/delete/{{vid}}">Delete</a>
              </div>
            </label>

            <div class="accordion-body">
              <p>yo</p>
            </div>
          </div>

        {{/each}}
      </ul>
      <div class="accordion">
        <input
          type="checkbox"
          id="accordion-1"
          name="accordion-checkbox"
          hidden
        />
        <label class="accordion-header" for="accordion-1">
          <i class="icon icon-arrow-right mr-1"></i>
          Title
        </label>
        <div class="accordion-body">
          <p>yo</p>
        </div>
      </div>
    </section>

    <!-- Create Section -->
    {{! <section>
      <h2>Create Item</h2>
      <form action="/create" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-input"
            id="name"
            name="name"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </section> }}
  </div>

</div>