<div id="main" class="container">
  <div class="container">
    <section>

      <h2>Videoclips</h2>
      <ul class="list">

        {{#each videoclips}}
          <div class="accordion">
            <input
              type="checkbox"
              id="accordion-{{vid}}"
              name="accordion-checkbox"
              hidden
            />
            <label class="accordion-header text-labels" for="accordion-{{vid}}">
              <i class="icon icon-arrow-right mr-1" ></i>
              {{vtitle}}
              -
              {{#each artists}}
                   <span class="artist-name">{{aname}}</span>
              {{/each}}
              <div class="float-right">
                <a class="edit-link" data-vid="{{vid}}">Edit</a>
                |
                <a href="/dashboard/delete/{{vid}}">Delete</a>
              </div>
            </label>

            <div class="accordion-body">
              <div class="wrapper">
                <form action="/dashboard/update/{{vid}}" method="post">
                  <fieldset>
                    <div class="col-3 col-sm-12">
                      <label class="form-label" for="aname">Artist</label>
                    </div>

                  {{#each artists}}

                    <div class="col-9 col-sm-12">
                      <input
                        class="form-input formwidth"
                        type="text"
                        required="required"
                        id="aname"
                        name="aname"
                        placeholder="Artist"
                        value="{{aname}}"
                      />
                         <input
                           type="hidden"
                           name="aid"
                           value="{{aid}}"
      />
                    </div>
                  {{/each}}
                 
                    <div class="col-3 col-sm-12">
                      <label class="form-label" for="vtitle">Videoclip title</label>
                    </div>
                    <div class="col-9 col-sm-12">
                      <input
                        class="form-input formwidth"
                        type="text"
                        name="vtitle"
                        id="vtitle"
                        placeholder="Title"
                        required="required"
                        value="{{vtitle}}"
                      />
                    </div>
                    <div class="col-3 col-sm-12">
                      <label class="form-label" for="vrelease">Release date</label>
                    </div>
                    <div class="col-9 col-sm-12">
                      <input
                        class="form-input formwidth"
                        type="text"
                        id="vrelease"
                        name="vrelease"
                        placeholder="Release date"
                        required="required"
                        value="{{vrelease}}"
                      />
                    </div>
                    <div class="col-3 col-sm-12">
                      <label class="form-label" for="vdesc">Description</label>
                    </div>
                    <div class="col-9 col-sm-12">
                      <textarea
                        id="vdesc"
                        class="formwidth"
                        name="vdesc"
                        cols="40"
                        rows="5"
                        required="required"
                      >{{vdesc}}</textarea>
                    </div>
                    <div class="col-3 col-sm-12">
                      <label class="form-label" for="vlink">Link</label>
                    </div>
                    <div class="col-9 col-sm-12">
                      <input
                        class="form-input formwidth"
                        type="text"
                        required="required"
                        id="vlink"
                        name="vlink"
                        placeholder="Youtube link"
                        value="{{vlink}}"
                      />
                    </div>
                    <div class="col-3 col-sm-12">
                      <label class="form-label" for="vimage">Image url</label>
                    </div>
                    <div class="col-9 col-sm-12">
                      <input
                        class="form-input formwidth"
                        required="required"
                        name="vimage"
                        type="text"
                        id="vimage"
                        placeholder="Link to img url /img/"
                        value="{{vimage}}"
                      />
                    </div>
                    <div class="col-3 col-sm-12">
                      <label class="form-label">Genre</label>
                    </div>
                    <div class="col-9 col-sm-12">
                      <select name="gid" id="gid" required="required">
                        <option value="1" {{#if (theGenreD gid)}} selected="selected" {{/if}}>Drill</option>
                        <option value="2" {{#if (theGenreH gid)}} selected="selected"  {{/if}}>Hiphop</option>
                        <option value="3" {{#if (theGenreP gid)}} selected="selected"  {{/if}}>Pop</option>
                        <option value="4" {{#if (theGenreU gid)}} selected="selected"  {{/if}}>Underground</option>
                        <option value="5" {{#if (theGenreUK gid)}} selected="selected"  {{/if}}>Uk</option>
                        <option value="6" {{#if (theGenreF gid)}} selected="selected"  {{/if}}>French</option>
                      </select>
                    </div>
                  </fieldset>
                  <input type="submit" class="btn btn-primary" value="Save" />
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </ul>
    </section>
    <br /><br />

    <section>
      <h2>New Videoclip</h2>
      <form action="/dashboard/new" method="post">
        <fieldset>
          <div class="col-3 col-sm-12">
            <label class="form-label" for="anamenew">Artist</label>
          </div>
          <div class="col-9 col-sm-12">
            <input
              class="form-input formwidth"
              type="text"
              required="required"
              id="anamenew"
              name="anamenew"
              placeholder="Artist"
            />
          </div>
          <div class="col-3 col-sm-12">
            <label class="form-label" for="vtitlenew">Videoclip title</label>
          </div>
          <div class="col-9 col-sm-12">
            <input
              class="form-input formwidth"
              type="text"
              name="vtitlenew"
              id="vtitlenew"
              placeholder="Title"
              required="required"
            />
          </div>
          <div class="col-3 col-sm-12">
            <label class="form-label" for="vreleasenew">Release date</label>
          </div>
          <div class="col-9 col-sm-12">
            <input
              class="form-input formwidth"
              type="date"
              id="vreleasenew"
              name="vreleasenew"
              placeholder="Release date"
              required="required"
            />
          </div>
          <div class="col-3 col-sm-12">
            <label class="form-label" for="vdescnew">Description</label>
          </div>
          <div class="col-9 col-sm-12">
            <textarea
              id="vdescnew"
              name="vdescnew"
              cols="70"
              class="formwidth"
              rows="10"
              required="required"
            ></textarea>
          </div>
          <div class="col-3 col-sm-12">
            <label class="form-label" for="vlinknew">Link</label>
          </div>
          <div class="col-9 col-sm-12">
            <input
              class="form-input formwidth"
              type="text"
              required="required"
              id="vlinknew"
              name="vlinknew"
              placeholder="Youtube link"
            />
          </div>
          <div class="col-3 col-sm-12">
            <label class="form-label" for="vimagenew">Image url</label>
          </div>
          <div class="col-9 col-sm-12">
            <input
              class="form-input formwidth"
              required="required"
              name="vimagenew"
              type="text"
              id="vimagenew"
              placeholder="Link to img url /img/"
            />
          </div>
          <div class="col-3 col-sm-12">
            <label class="form-label" for="gidnew">Genre</label>
          </div>
          <div class="col-9 col-sm-12">
            <select name="gidnew" id="gidnew" required="required">
              <option value="1">Drill</option>
              <option value="2">Hiphop</option>
              <option value="3">Pop</option>
              <option value="4">Underground</option>
              <option value="5">Uk</option>
              <option value="6">French</option>
            </select>
          </div>
        </fieldset>

        <input type="submit" class="btn btn-primary" value="Add videoclip" />
      </form>
    </section>
  </div>

</div>

<script>
  // Function to toggle the accordion state function toggleAccordion(vid) {
  const accordionCheckbox = document.getElementById(`accordion-${vid}`); if
  (accordionCheckbox) { accordionCheckbox.checked = !accordionCheckbox.checked;
  } } // Add a click event listener to the "Edit" links const editLinks =
  document.querySelectorAll(".edit-link"); editLinks.forEach((link) => {
  link.addEventListener("click", (e) => { e.preventDefault(); const vid =
  link.getAttribute("data-vid"); toggleAccordion(vid); }); });
</script>


