<div class="container" id="main">
  <div class="container">
    <h1 class="text-center">
      Explore My Video Clips
      <span class="gradient-text">Showcase</span>
    </h1>
    <p class="text-center">
      Check out all these amazing videoclips made by us
    </p>
  </div>
  <div class="divider"></div>

  {{#if hasDatabaseError}}
    <div>
      Sorry, there was a problem with the database:
      <br />
      {{theError}}
    </div>
  {{else}}
    <div class="container">
      <div class="columns">
        {{#each videoclips}}
          <div class="column col-6 col-md-12">
            <a href="/videos/{{vid}}">
              <div class="card">
                <h1 class="card-titles">{{vtitle}} - {{anames}}</h1>
                <img src="{{vimage}}" alt="Video Thumbnail {{vtitle}}" />
              </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>