<div class="container" id="main">
  <h1 class="text-center">
    {{videoclip.vtitle}}
    -
    <span class="gradient-text"> {{videoclip.anames}}</span>
  </h1>
</div>
<div class="divider"></div>

<div class="container_info">
  <div class="video-info">
    <h1>{{videoclip.vtitle}}</h1>
    <p>
      {{videoclip.vdesc}}
    </p>
    <br />
    <p>Artist: {{videoclip.anames}}</p>

    <p>Genre: {{videoclip.gname}}</p>
    <p>Release Date: {{videoclip.vrelease}}</p>

  </div>

  <div class="video-container">
    <iframe
      width="550"
      height="300"
      src={{videoclip.vlink}}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>